.table1 td {
    border: 1px;
    border-style: solid;
    border-width: 1px;
    padding: 0 10px 0 10px;
    min-width: 57px;
    text-shadow: 0 0 1px white;
}
.kniffel_sheet {
    border-style: none;
}
.button {
    margin: 15px;
    width: 125px; 
}
.dice {
    height: 48px;
    max-height: 48px;
    width: 48px;
    max-width: 48px;
    margin: 2px;
    border: 0px;
    padding: 0px;
    border-radius: 5px;
    border-style: solid;
    text-align: center;
    font-size: 3em;
    line-height: 40px;

}
.dice {
    background: rgba(255, 0, 0, 0.5);
}
.dice.dice-available {
    background: rgba(172, 255, 47, 0);
}

div .table1 {
    background: rgb(220, 220, 220);
    border-style: solid;
    border-width: 1px;
    box-shadow: rgb(50,50, 50) 5px 5px 15px;
    margin: auto;
}

td.columns.active.clickable:hover {
    cursor: pointer;
}
td.categories {
    font-style: italic
}
.kniffel_rolls .row {
    margin: auto;
    justify-content: center;
}
td.columns {
    border-left-width: 3px;
    border-left-style: double;
    padding: 0 15px 0 15px;
    font-weight: 600; 
}
.table1 td.fixed {
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.4) inset;
}

td.block2 {
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.4) inset;
    font-weight: 700; 
}
.table1 td.currentPlayer {
    font-weight: 900;
    font-style: italic;
}
.container {
    padding: 20px;
    background: #FFFFFF;
    border-style: groove;
    border-width: 2px;
    border-color: #000000;
    border-radius: 15em 5em / 5em 15em;
    box-shadow: #000000 15px 15px 30px;
    text-align: center;
    align-self: center;
}
.container-fluid {
    margin: 20px;
}
.player1 {
    background: rgba(0,0, 255, 0.3);
}
.player2 {
    background: rgba(0,255, 0, 0.3);
}
.player3 {
    background: rgba(255,0, 0, 0.3);
}
.player4 {
    background: rgba(0,255, 255, 0.3);
}
.kniffel_right {
    align-self:auto;
}

.kniffel_left {
    align-self:auto;
}
