td.kniffel {
    border: 1px;
    border-style: solid;
    border-width: 1px;
    padding: 0 10px 0 10px;
}
.kniffel_sheet {
    border-style: none;
}
.kniffel_buttons{
    height: 300px;
}
.button {
    margin: 15px; 
}
.dice {
    height: 48px;
    width: 48px;
    margin: 2px;
    padding: 10px 0px;
    border: 1px;
    border-style: solid;
    text-align: center;

}
.dice.dice-fixed {
    background: red;
}
.dice.dice-available {
    background: greenyellow;
}

div .table1 {
    background: rgb(220, 220, 220);
    border-style: solid;
    border-width: 1px;
    box-shadow: rgb(50,50, 50) 5px 5px 15px;
    margin: auto;
}


td.columns.active.clickable:hover {
    cursor: pointer;
}
td.categories {
    font-style: italic
}
.kniffel_rolls .row {
    margin: auto;
}

td.columns {
    border-left-width: 3px;
    border-left-style: double;
    padding: 0 15px 0 15px;
    font-weight: 600; 
}
.players.fixed {
    background: rgba(0, 0, 0, 0.2);
}

td.block2 {
    background: rgba(0, 0, 0, 0.2);
    font-weight: 700; 
}
.container {
    padding: 40px;
    background: #FFFFFF;
    border-style: groove;
    border-width: 2px;
    border-color: #000000;
    border-radius: 15em 5em / 5em 15em;
    box-shadow: #000000 15px 15px 30px;
    text-align: center;
    align-self: center;
}